<style.css>
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #f7f381;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.date {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

ol {
    list-style-type: decimal;
    font-size: 1.2em;
    text-align: left;
    padding-left: 20px;
}
